<% content_for :title, "Merhaba!" %>
<% content_for :description, "Blog" %>
  <div class="row">
    <div class="post" id="home-hi">
      <div class="hi">
          &larr;hello, bonjour, سلام, hei, γεια σας, ciao, hola, привет&rarr;
      </div>
    </div>
    <div class="col s4 m4 l4">
      <div class="post" id="home-post" style="height: 320px;">
      <center><br>
        <%= link_to root_path do %>
      <div class="profile waves-effect"></div>
      <% end %>
      </center><br>
    </div>
  </div>
    <div class="col s8 m8 l8">
      <div class="post" id="home-post" style="opacity:0.9;height: 320px;">
      <p>
      Statham's life in the media began when he was spotted by the agency Sports
       Promotions specialising in sports modelling while he was training at London's Crystal
        Palace National Sports Centre. Afterwards, he became a model for the clothing brand
         French Connection. A spokesperson for the high street clothing chain said:
          "We chose Jason because we wanted our model to look like a normal guy. His look is just
           right for now: very masculine and not too male-modelly."However, he was still forced
            to follow in his father's footsteps as a street seller to make ends meet, selling
             "fake perfume and jewellery on street corners...
      </p>
      <div class="row">
        <center>
        <div class="col s12 m12 l12" id="info">
        <a href="https://linkedin.com" target="_blank"><i class="material-icons" id="home-icons-font">&#xE0AF;</i></a>
        <a href="https://github.com" target="_blank">  <i class="material-icons" id="home-icons-font">&#xE86F;</i></a>
        <a href="https://twitter.com" target="_blank">  <i class="material-icons" id="home-icons-font">&#xE853;</i></a>
        </div>
        </center>
      </div>
    </div>
  </div>
</div>
